#form_section{
	background-image: url("../images/blue.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}	
form{
	margin:0 20%;
	padding-top:30px;
	/*background-color:rgba(204, 204, 255,0.2);*/
	background-color:rgba(0,0,0,.4);
	border-radius:25px;
}
#_h2{
	text-align:center;
	padding-top:40px;
	padding-bottom:20px;
	font-size:40px;
}
#_p{
	text-align:justify;
	font-size:20px;
	margin-left:10%;
	margin-right:10%;
}
#_div{
	margin-bottom:2%;
}
label{
	margin-left:10%;
	font-weight:bold;
	font-size:20px;
}
input,textarea{
	margin-left:10%;
	width:80%;
	border-radius:0.15em;
}
textarea{
	width:80%;
	height:10%;
	margin-left:10%;
}
#fName_error, #lName_error, #email_error, #comment_error{
	margin-left:10%;
	font-size:20px;
}
.importantFields{
	color:red;
}
#submit{
	margin:auto;
	display:block;
	width:160px;
	height:6%;
	margin-top:20px;
	margin-bottom:30px;
	font-weight:bold;
	font-size:20pt;
	border-radius:8px;
}
#success_msg{
	font-size:30px;
}